@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Permanent+Marker&display=swap");

body {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: normal;
  color: #373737;
  background-color: rgba(0, 0, 0, 0.0001);
}

.container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-top {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav-top-link {
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  font-size: 18px;
}
.nav-top-link:hover {
  background-color: gold;
  color: green;
  transition: 0.2s;
}
.title-img {
  width: 1280px;
  margin: 0 auto;
}
.main {
  text-align: center;
}
.subtitle {
  text-transform: uppercase;
  margin: 50px 0px 40px 0px;
}
.first-pharagraph {
  letter-spacing: 2.4px;
  line-height: 26px;
}
.second-pharagraph {
  letter-spacing: 2.4px;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background-color: red;
  border-radius: 2px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}
.btn:hover {
  background-color: gold;
  color: green;
  transition: 0.2s;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  margin-top: 70px;
}

.footer-link:hover {
  color: darkblue;
  text-decoration-line: underline;
}
.footer-link {
  text-decoration: none;
  color: yellowgreen;
  text-transform: uppercase;
  font-size: 18px;
}

.copyright {
  text-align: right;
  letter-spacing: 2.4px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 70px;
}
