body {
  background-color: #171717;
  font-size: 20px;
  font-family: sans-serif, Arial;
  color: white;
}
.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  margin-top: 50px;
}

.tel {
  font-size: 19px;
  color: white;
}
span {
  color: #e4b564;
}
.callbeck {
  display: inline-block;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 30px;
  text-align: left;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 10px 10px 49px;
}
.title {
  font-size: 50px;
  margin-bottom: 40px;
}
.sub-title {
  margin-bottom: 40px;
}

.heating-network-item {
  
  padding: 10px;
  height: 350px;
  display: flex;
  align-items: center;
  text-align: center;

}
.heating-network-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 170px;
  
}
.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background: #634f2c;
}
.item2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background: #b4a385;
}
.item3 {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
  background: #e4b564;
}
.item4 {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
  background: #635a4a;
}
.item5 {
  grid-column: 4 / 7;
  grid-row: 3 / 5;
  background: #b08c4d;
  
 
}
.first-section-text {
    margin: 50% auto;
  }
  .title-second-block {
      margin-bottom: 90px;
      font-size: 50px;
  }
  .building-technology {
      display:flex ;
      justify-content: space-between;
      gap: 25px;
  }
  .first-column {
   
    width: 30%;
}
  .first-row1 {
      height: 315px;
      background-color: #0E0E0E;
      
      
  }
  .second-row1 {
      height: 560px;
      background-color: #1F1F1F;
      
  }
  .second-column {
    width: 30%;

  }
  .first-row2 {
      height: 440px;
      background-color:  #242424;
      

  }
  .second-row2 {
      height: 405px;
      background-color: #E4B564;

  }