body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: #ffb13a;
    background-color: black;
    margin: 20% 0 0 0;
}
.wrapper {
    text-align:justify;
    margin:0 auto;
    font-weight: 800;
    font-size: 60px;
    line-height: 100px;
    width: 1000px;
    height: 1600px;
    animation: crawl 30s  ease-in  infinite;
    transform:perspective(450px)  rotateX(20deg) ;
}
.preheader {
    text-align:center;
    margin: 40px 0;
}
.header {
    text-align: center;
    margin: 0 0 100px 0;
}
@keyframes crawl {
    0% {
        transform: perspective(450px) rotateX(20deg) translateY(0);
    }   

    100%{
        transform:   perspective(450px) rotateX(20deg) translateY(-4000px);
    }
}