@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.0001); 
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.title-logo {
    text-decoration: none;
    font-size: 80px;
    padding-bottom: 140px;
    line-height: 94px;
}
.logo-text span{
    color: #4BCAFF;
}
.logo-text {
    color: #000000;
    padding-bottom: 40px;
    padding-top: 60px;
}
.header-menu {
    display: flex;
    justify-content:center;
    background-color: #35444F;
}
.header-nav-link {
    text-decoration: none;
    color:  #FFFFFF;
    font-size: 24px;
}
.header-nav-item {
    border-right: 2px solid white;
    padding: 10px 20px;
}
.header-nav-item:hover {
    background-color: #222F3A;
    background-size: cover;
    display: inline-block;
}
.item1 {
    border-left: 2px solid white;
   
}
.main {
    display:flex;
    padding-top: 54px;
} 
.content {
    margin-left: 52px;
}
.img-place {
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.ram-img {
    width: 350px;
    height: 421px;
    margin:  120px auto;
    transition: 0.5s;
}
.ram-img:hover {
    transform: scale(1.3);
}

p {
    margin-bottom:35px;
    font-size: 18px;
    line-height: 24px;
}
.aside-list {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid black;
}
.aside-nav-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:  40px;  
    transition: 0.3s; 
    font-size: 27px;
}
.aside-nav-item:hover {
    background-color:  #DBDBDB;
    padding-left: 60px;
    
    
}
.aside-nav-link {
    text-decoration: none;
    color: #495863;
    transition: 0.2s;
}
 .aside-nav-item:hover .aside-nav-link {
     color: black;
     display: inline-block;
     transform: scale(1.2);
     
    
}

.footer-list {
    display: flex;
    padding: 15px;
    margin-bottom: 30px;
    justify-content: space-between;
    background-color: #63696E7A;
}  
.footer-nav-link {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    transition: 0.5s;
}
.footer-hover:hover {
    color: #3181A6;
    text-decoration: underline;
}
.copyrite {
    margin-left:135px;
    font-size: 24px; 
    text-decoration: none;
}
