*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./image/background\ 1.png);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.container {
    width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
}
.head-wrapper {
    display: flex;
    justify-content: space-between;
}
.title-logo {
    display: flex;
    text-decoration: none;
    margin-top: 50px;
    transition: 0.5s ease-in;
}
.img-logo {
    padding-bottom: 3px;
}
.hover-block {
    background: url(./image/logo\ 3.png);
    width: 53px;
    height: 47px;
    transition: 0.5s ease-in;
}
.hover-block:hover {
    background: url(./image/logo-hover.png);
    width: 53px;
    height: 47px;
}
.logo-text {
    color: #FFFFFF;
    margin-left: 8px;
    transition: 0.3s ease-in;
    position: relative;
    bottom: -3px;
}
.title-logo:hover .logo-text{
    color: #F26522;
}
.title-logo:hover .hover-block {
    background: url(./image/logo-hover.png) ;
    width: 53px;
    height: 47px;
}
.logo-text:hover .hover-block {
    background: url(./image/logo-hover.png);
    width: 53px;
    height: 47px;
}
.logo-text h1 {
    font-size: 29px;
    font-weight: 700;
}
.logo-text h2 {
    font-size: 18px;
    font-weight: 700;
}
.contact{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}
.contact-link {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in;
}
.contact:hover  .contact-link{
    color: #F26522;
}
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 17px;
    column-gap: 54px;
}
.portfolio-gallery-item {
    color: white;
    text-decoration: none;
    position: relative;
}
.title-image {
    position: relative;
    overflow: hidden;
}
.portfolio-gallery-item:hover .portfolio-gallery-hover {
    bottom: 0;
    left: 0;
    opacity: 1;
}
.portfolio-gallery-item:hover .sub-title-link{
    color: #F26522;
}
.sub-title {
    margin-top: 20px;
    margin-bottom: 37px; 
    text-align: center;
}
.sub-title-link {
    text-decoration: none;
    color: #FFFFFF;
}
.portfolio-gallery-hover {
	width:300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    background-color:  #F26522;
    transition: 0.5s ease-in-out;
    border: none;
    position: absolute;
    bottom: -100px;
    left: 0;
    opacity: -1;  
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-right: 16px;
}
.arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    margin-bottom: 2px;
    display: inline-block;
}
.arrow-right {
    transform: rotate(45deg);
}

.btn:hover .arrow {
   border-color: grey;
}
.btn:hover .button-title {
   color: gray;
}
.hover-price-section {
    max-height: 59px;
    padding-left: 16px; 
}  
.hover-title {
    font-size: 10px;
    padding-top: 7px;  
}
.hover-price {
    padding-top: 8px;
    font-size: 20px; 
}
.button-title {
    font-size: 14px;
    padding-right: 16px;
}
.copyrite {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    margin-top: 49px;
    margin-bottom: 15px;
}
