body {
    background-image: url(./image/Фон\ 1.png);
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding:  18px 79px;
    align-items: center; 
    background: rgba (0, 0, 0, 0.4);
    background: #00000066;

}

.title {
    font-size: 22px;
    transition: 0.3s;
}
.title:hover {
    color: #3CB878;
}
.header-nav {
   display: flex;
   align-items: center;
}
.nav-enter {
   
}
.svg-item {
    padding-right: 25px;
    
}


.log-in-text {
    display: inline-block;
    
    
}
.log-in-top-hover {
    transition: 0.3s;
}
.log-in-top-hover:hover {
    color: #3CB878;
    
}
.log-in-text::before {
    content: '';
    border-left: 1px solid ;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
}

.sign-up-text {
    display: inline-block;
}
.sign-up-top-hover {
    transition: 0.3s;
}
.sign-up-top-hover:hover {
    color: #3CB878;
    
}
a {
    text-decoration: none;
    color: white;
}
.signin-divider {
    margin-top:34px ;
    margin-bottom:10px ;
    position: relative;
    color: #848484;
    text-align: center;
    
   
    
}
.signin-divider::before,
.signin-divider::after {
    content: '';
    position: absolute;
    height: 2px;
    width:152px;
    top:50%;
    background: #F2F2F2;
    transform: translateY(-50%);

}
.signin-divider::before {
    left: -5px;
}
.signin-divider::after {
    right: -5px;
}
.svg-color {
    fill: #fff;
    transition: 0.3s;
}
.svg-item:hover .svg-color{
    fill:#3CB878
}
/* =======form======== */
.form {
    height: 584px;
    width: 324px;
    background-color: #fff;
    color: black;
    padding: 30px 60px 38px;
    margin: 100px auto;
    position: relative;
}
.form-text-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}
.green-square {
    height:18px ;
    width: 18px;
    position: absolute;
    left: 0;
    top:30px;
    background-color:  #3CB878;
}
.form-sign-in {
    font-size: 20px;
}
.form-log-in {
    font-size: 14px;
    color:  #3CB878;

}
.form-log-in:hover {
    text-decoration: underline;
   
}
.form-button-top {
    display: flex;
    justify-content: space-between;
   
}
.btn {
    height: 48px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
   
}
.btn p {
    padding-right: 20px;
}

.fb-btn{
    background-color: #305DB8;
    position: relative;
}
.fb-btn::before {
    content: '';
    position: absolute;
    left: 48px;
    width: 2px;
    height: 28px;
    border-left: 48px;
    opacity: 0.1;
    background: #0A162F;
    
}
.btn-logo {
    padding-left: 10px;
}

.google-btn {
    background-color: #DF4A32;
    position: relative;
}
.google-btn::before {
    content: '';
    position: absolute;
    left: 55px;
    width: 2px;
    height: 28px;
    border-left: 48px;
    opacity: 0.1;
    background: #0A162F;
    

}
.form-signin-field {
    height: 44px;
    width: 100%;
    border: 1px solid #F2F2F2;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    
}
.form-signin-field:focus-within {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    
}
.checkbox-grup {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    
}
.checkbox-span{
    color: #3CB878;
}
.checkbox-span:hover {
    text-decoration: underline;
}
.signin-form-submit {
    background: rgba(60, 184, 120, 0.8);
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    border: none;
    padding-block: 16px;
    color: #fff;
    cursor: pointer;
}

    

















 